

*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    
}

#home{
    font-size: 32px;
    text-decoration: none;
    color: white;
    
    position: absolute;
    bottom: 11px;
    left: 50px;
    width: fit-content;
    /* color: black;     */
    

}


#Nav{
 margin-left: 300px;
 color: red;
 gap: 100px;
 width: fit-content;
font-size: 25px; 

}



#input{
    margin-left: 80px;
    border: 2px solid;
}


#search{
    margin-left: 5px;
    border: 2px solid;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.nav{
    color: white;
    text-decoration: none;
}
input::placeholder{
    color: white;
    text-align: center;
}

.nav:hover{
   
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
}


#pack{
    margin-bottom: 100px;
    margin-right: 800px;
    font-size: 100px;

}

#CORE{
    text-align: center;
    margin-top: 60PX;
    /* border: 2px solid; */
    font-weight: bolder;
}

#card{
    /* border: 2px solid; */
    padding-bottom: 50px;
    
}

#span{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#btn{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
    margin-left: 17%;
    padding: 5px;
    font-weight: 700;
}

#btn:hover{
    background-color:aliceblue;
}


#BAG{
    position: absolute;
    top: 1800px;
    left: 200px;
    font-weight: bolder;
    color: white;

}

#BAG1{
    position: absolute;
    top: 1800px;
    left: 650px;
    font-weight: bolder;
    color: white;

}

#BAG3{
    position: absolute;
    top: 1800px;
    left: 1100px;
    font-weight: bolder;
    color: white;

}


#BAG4{
    position: absolute;
    top: 2300px;
    left: 130px;
    font-weight: bolder;
    color: rgb(20, 19, 19);

}

#BAG5{
    position: absolute;
    top: 2300px;
    left: 800px;
    font-weight: bolder;
    color: rgb(20, 19, 19);

}
#BAG6{
    position: absolute;
    top: 2460px;
    left: 130px;
    font-weight: bolder;
    color: rgb(20, 19, 19);

}

#img1{
  border-radius: 8px;
}

#img1:hover{
    width: 620px;
    transition: ease 1s;

}



#bread{
    text-align: center;
    font-weight: 500;
    width: fit-content;
    margin-top: 50px;

}

#bag{
    text-align: center;
    
}

#aside{
   
    width: fit-content;
  
}

#list{
    margin-top: 20px;
}

#pp{
   
    padding: 10px;
 justify-content: space-around;


}

#tab{
    background-color: aqua;
    border: 2px solid green;
    
}